__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
env/
venv/
*.log

.ipynb_checkpoints/
*.ipynb_convert/
*.ipynb_backup

kaggle.json
*.csv
*.tsv
*.zip
*.tar
*.gz
*.h5
*.npz
*.npy
*.pickle
*.pkl
*.db

*.h5
*.keras
*.ckpt
*.pb
saved_model/
checkpoints/
logs/

train/
test/
predict/

.DS_Store
Thumbs.db
.vscode/
.idea/
